# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Windows specific
thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo
